.post-preview-card-style {
    width: 700px;
    margin-left: 10px;
    margin-top: 10px;
}

.non-shadow-card {
    margin-bottom: 10px;
}

.post-full-card {
    margin-lef: 10px;
    width: 700px;
}

.truncate-text-grid-style {
    margin-top: 10px;
    margin-bottom: 5px;
}

.user-avatar-grid {
    margin-top: 5px;
}